<app-form-header></app-form-header>
<h2>Registor form</h2>
<form [formGroup]="registrationForm">
    <div class="form-group">
        <label for="name">username</label>
        <input type="text" formControlName="userName"  
            name="name" id="name"   placeholder="" 
            class="form-control"
        >
    </div>
    <div class="form-group">
        <label for="">Password</label>
        <input type="password" formControlName="password"
            class="form-control" name="password" id="password"  placeholder="">
    </div>
    <div class="form-group">
        <label for="">Confirm Password</label>
        <input type="password" formControlName="confirmPassword"
            class="form-control" name="confirm_password" id="confirm_password"  placeholder="">
    </div>

    <div formGroupName="address">
        <div class="form-group">
            <label for="">City</label>
            <input type="text"
                formControlName="city"
                class="form-control"  >
        </div>
        <div class="form-group">
            <label for="">State</label>
            <input type="text"
                formControlName="state"
                class="form-control"  >
        </div>
        <div class="form-group">
            <label for="">Postal Code</label>
            <input type="text"
                formControlName="postalCode"
                class="form-control"  >
        </div>
    </div>

    <button  class="btn btn-primary" type="submit">Registor</button>
</form>

{{ registrationForm.value | json }}