<app-basic-header></app-basic-header>
<style>

section{
    border:1px solid salmon;
    padding: 20px;
}
tbody tr:not(.caption) td{padding-left: 20px;}
tbody tr:not(.caption) td:first-child { text-align: right; padding-right:20px; }


</style>
<p>index works!</p>
concate string {{ "poktest : "+txt }}<br>
length : {{ txt.length }}<br>
uppercase : {{ txt.toUpperCase()}}<br>
Calculation is : {{ numberA + numberB }}<br>  


<section >
    <h3>Pipes</h3>

    <table >
        <colgroup>
            <col style="text-align: right; color:seagreen;">
            <col style="background-color:#ccc;">
        </colgroup>
        <tbody>
            <tr class="caption"><td colspan="2"><h5 class="text-muted">String</h5></td></tr>
            <tr>
                <td>Original String</td>
                <td>{{ txt }}</td>
            </tr>
            <tr>
                <td>lower case</td>
                <td>{{ txt | lowercase }}</td>
            </tr>
            <tr>
                <td>upper case</td>
                <td>{{ txt | uppercase }}</td>
            </tr>
            <tr>
                <td>title case</td>
                <td>{{ txt | titlecase }}</td>
            </tr>
            <tr>
                <td>slice 3</td>
                <td>{{ txt | slice:3 }}</td>
            </tr>
            <tr>
                <td>json </td>
                <td>{{ person | json }}</td>
            </tr>
            <tr class="caption"><td colspan="2" ><h5 class="text-muted">Number</h5></td></tr>
            <tr>
                <td>number:'1.2-3' </td>
                <td>{{ 5.678 | number:'1.2-3' }}</td>
            </tr>
            <tr>
                <td>number:'3.2-3' </td>
                <td>{{ 5.678 | number:'3.2-3' }}</td>
            </tr>
            <tr>
                <td>5.678 number:'3.4-5' </td>
                <td>{{ 5.678 | number:'3.4-5' }}</td>
            </tr>
            <tr>
                <td>5.678237 number:'3.4-5' </td>
                <td>{{ 5.678237 | number:'3.4-5' }}</td>
            </tr>
            <tr class="caption"><td colspan="2"><h5 class="text-muted">Percent</h5></td></tr>
            <tr>
                <td>0.25 percent </td>
                <td>{{ 0.25 | percent }}</td>
            </tr>
            <tr>
                <td>1 percent </td>
                <td>{{ 1 | percent }}</td>
            </tr>
            <tr>
                <td>.091 percent </td>
                <td>{{ .091 | percent }}</td>
            </tr>
            <tr>
                <td>.097 percent </td>
                <td>{{ .097 | percent }}</td>
            </tr>
            <tr class="caption"><td colspan="2"><h5 class="text-muted">Currency</h5>  </td></tr>
            <tr>
                <td>.25 currency </td>
                <td>{{ .25 | currency }}</td>
            </tr>
            <tr>
                <td>25 currency:'JPY' </td>
                <td>{{ 25 | currency:'JPY' }}</td>     <!-- see currency at https://en.wikipedia.org/wiki/ISO_4217  -->
            </tr>
            <tr>
                <td>25 currency:'JPY':'code' </td>
                <td>{{ 25 | currency:'JPY':'code' }}</td>
            </tr>
            <tr class="caption" ><td  colspan="2"> <h5 class="text-muted">Date</h5>  </td></tr>
            <tr>
                <td>date </td>
                <td>{{ date }}</td>
            </tr>
            <tr>
                <td>date:'short'</td>
                <td>{{ date | date:'short' }}</td>
            </tr>
            <tr>
                <td>date:'shortDate'</td>
                <td>{{ date | date:'shortDate' }}</td>
            </tr>
            <tr>
                <td>date:'shortTime'</td>
                <td>{{ date | date:'shortTime' }}</td>
            </tr>
        </tbody>
    </table>
</section>
