

<style>
/* .container{
    display : flex ;
} */

section.side-bar {
    width: 30%;
    /*float: left;*/
}
section.main{
    width: 70%;
    /* float: left;*/
}
</style>

<div class="container-fluid" >
    <h1>  
        <i class="fa fa-sync fa-spin text-primary"></i>
        {{title}}
    </h1>
    <div class="row">
        <section class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item" routerLink="">Home</li>
                <li class="list-group-item" routerLink="/basic">Basic</li>
                <li class="list-group-item" routerLink="/customers" >Customer</li>
                <li class="list-group-item" routerLink="/orders">Order</li>
                <li class="list-group-item" routerLink="/ngclass">NgClass</li>
                <li class="list-group-item" routerLink="/form">Form</li>
            </ul>
        </section>
        <section class="col">
                <router-outlet></router-outlet>
        </section>
      
    </div>    
</div>


