<!--<div class="btn-group dropright">
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="../normal" >Form normal</a>
        <a class="dropdown-item" routerLink="../template-driven">Form template driven</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
    </div>
</div>-->
<app-dropdown-url [formUrlLists]="urlLists"></app-dropdown-url>