<div class="container mt-5">
        <h2>Todos
          <a class="float-right" [routerLink]="['/todo/add']">
            <button type="button" class="btn btn-primary">Add</button>
          </a>

          <button type="button" (click)="export()" class="btn btn-danger">Export</button>
        </h2>
        <table class="table table-bordered mt-5">
          <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of data; let i = index;">
                  <td width="20">{{item.id}}</td>
                  <td>{{item.title}}</td>
                  <td>{{item.firstname}}</td>
                  <td width="250">                
                      <button type="button" class="btn btn-danger mr-1" (click)="deleteTodo(item.id, i)">Delete</button>
                      &nbsp;
                      <a [routerLink]="['/todo/edit/', item.id]">
                        <button type="button" class="btn btn-primary">Edit</button>
                      </a>
                      &nbsp;
                      <a [routerLink]="['/todo/view/', item.id]">
                        <button type="button" class="btn btn-dark">View</button>
                      </a>
                  </td>
                </tr>
          </tbody>
        </table>
      </div>