<app-basic-header></app-basic-header>
<p>ng-switch works!</p>

<p [style.color]="color">
    You click {{ color }} button  
</p>

<button class="btn btn-danger" (click)="color='red'" >Red</button>&nbsp;
<button class="btn btn-primary" (click)="color='blue'" >Blue</button>&nbsp;
<button class="btn btn-success" (click)="color='green'" >Green</button>&nbsp;
<button class="btn btn-light" (click)="color='orange'" >Default</button>&nbsp;
<div [ngSwitch]="color">
    <p *ngSwitchCase="'red'">
        You pick red color
    </p>
    <p *ngSwitchCase="'blue'">
        You pick blue color
    </p>
    <p *ngSwitchCase="'green'">
        You pick green color
    </p>
    <p *ngSwitchDefault>
        you don't pick color
    </p>     
</div>
