<p>form-template-driven works!</p>
<app-form-header></app-form-header>
<style>
.ng-invalid:not(form) {
    border-left:5px solid #dc3545;
}
.ng-valid[required],.ng-valid.required {
    border-left:5px solid #28a745;
}
</style>
<form #authForm = "ngForm" (ngSubmit)="onSubmit(authForm.value)" >
    <legend [ngStyle]="titleStyle">Angular Form (Template Driven) using ngForm</legend>
    <button (click)="onClickShowEvent($event)" >show event</button>
    <button (click)="titleStyle.color='red'" >change variable value to red </button>
    <div class="form-group">
        <label for="firstName">First Name(Btw 5-10 letters)</label>
        <input type="text" 
            #firstName="ngModel" 
            pattern=".{5,10}"
            required
            class="form-control" id="firstName"  name="firstName" 
            placeholder="Input field" [(ngModel)]="mForm.firstName">
        <small id="helpId" class="form-text" [style.color]="firstName.invalid ? 'red':'green' " >Help text</small>
    </div>
    <div>Debug : {{ firstName.className }} : {{ firstName.invalid  }}</div>  
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text"
            required
            class="form-control" id="lastName"  name="lastName" 
            placeholder="Input field" [(ngModel)]="mForm.lastName">
        <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text"
            required
            class="form-control" id="email"  name="email" 
            placeholder="Email" [(ngModel)]="mForm.email">
        <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
    <div class="form-group">
        <label for="phone">Phone</label>
        <input type="number"
            required
            class="form-control" id="phone"  name="phone" 
            placeholder="Phone" [(ngModel)]="mForm.phone">
        <small id="helpId" class="form-text text-muted">Debug : {{authForm.value.phone}}</small>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
            required 
            #password
            class="form-control" id="password"  name="password" 
            placeholder="Password" [(ngModel)]="mForm.password">
        <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password"
            required 
            #confirmPassword
            class="form-control" id="confirmPassword"  name="confirmPassword" 
            placeholder="Confirm Password" ngModel>
        <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
    

    <button [disabled]="!authForm.valid || (password.value != confirmPassword.value) " type="submit" class="btn btn-primary">Submit</button>
    
    &nbsp;
    <button  type="reset" class="btn btn-dark">Reset</button>
</form>

<p>{{authForm.value | json }}</p>

<p *ngIf="debug !=''" >{{debug}}</p>      <!-- ngIf  show if true   -->

<hr>
<p *ngIf="authForm.valid;then thenBlock; else elseBlock" ></p>      <!-- ngIf  show if true   -->
<ng-template #thenBlock>
    <span >Form validate : valid</span>
</ng-template>
<ng-template #elseBlock>
    <span >Form validate : invalid </span>
</ng-template>
