<app-service-employee-header></app-service-employee-header>
<h2>
    Service call url json 
</h2>
<div>
    1.add HttpClientModule in module like /service.module.ts<br>
    2.create interface for recieve json data    like  /interface/employee.ts<br>
    3.create Observable method to call json data  like getEmployeeesUrl() :Observable /services/employee.service.ts<br>
    4.in component ngOnInit  call method and subscript to set own data <br>
</div>
<p class="text-danger">{{ errorMsg }}</p>
<div class="row">
    <div class="col-6">
        <app-service-employee-list [parentEmployee]="employeees" ></app-service-employee-list>
    </div>
    <div class="col-6">
        <app-service-employee-detail [parentEmployee]="employeees"></app-service-employee-detail>
    </div>
</div>

